<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Cookbook</title>
    <link rel="stylesheet" href="/static/css/input.css">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/baby-blue.css">
    <link rel="stylesheet" href="/static/css/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" src="/static/js/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#login_page').load('/login_page')
            $('#reg_page').load('/reg_page')

            {% if not request.user.is_authenticated %}
                $('#login_page').fadeIn()
            {% endif %}
        })
    </script>
</head>

<body>

<div id="login_page" style="position: absolute; z-index: 100; visibility: inherit; display: none; left: 50%; top: 50%;">
    <!-- login page here -->
</div>

<div id="reg_page" style="position: absolute; z-index: 100; visibility: inherit; display: none; left: 50%; top: 50%;">
    <!-- register page here -->
</div>

<div class="pure-g-r" id="layout" style="letter-spacing:0">

    <div class="pure-u" id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="/" >Cookbook</a>

            <ul>

                <li class="">
                    <a href="/ingredient" >Ingredient</a>
                </li>

                <li class="pure-menu-selected">
                    <a href="/recipe" >Recipe</a>
                </li>


                <p>&nbsp;</p>

                {% if request.user.is_authenticated %}
                    <li class="menu-item-divided">
                        <a href="#" >{{ request.user.username }}</a>
                    </li>

                    <li class=" ">
                        <a href="/logout/" >Logout</a>
                    </li>
                {% else %}
                    <li class="menu-item-divided">
                        <a href="#" onclick="$('#reg_page').hide();$('#login_page').fadeIn()">Login</a>
                    </li>

                    <li class=" ">
                        <a href="#" onclick="$('#login_page').hide();$('#reg_page').fadeIn()">Register</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>



    <div id="right">

        <div class="header">
            <h1>Recommend by Ingredient</h1>
        </div>

        <div id="content" style="margin-top: 30px; margin-left: 100px">

            <div style="float: left; margin-right: 150px; margin-bottom: 100px">
                <div class="form">
                    <div>
                        <h4>Enter and choice the recipe:</h4>
                        <form action="/recommend_recipe/" method="post" class="pure-form" id="form">
                            <input type="text" id="txt" name="recipe" class="pure-input-rounded"  autoComplete="off" >
                            <input type="submit" value="Submit" class="pure-button pure-button-primary" >
                        </form>
                    </div>

                    <div class="Menu" id="List1" >
                        <div class="Menu2">
                            <ul id="list_ul">
                                <!-- list_ul here -->
                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

</div>


<script type="text/javascript">
    var all_recipes = []
    {% for r in all_recipes %}
        all_recipes.push("{{ r.name }}")
    {% endfor %}

    $(function(){
        $("#txt").keyup(function(e){
            var v = $("#txt").val()
            var s = ""

            if (e.keyCode> 40 || e.keyCode==32|| e.keyCode==8){
                for (var i=0;i<all_recipes.length;i++){
                    if (all_recipes[i].indexOf(v)==0){
                        s = s +'<li onclick="$(\'#txt\').val(this.innerHTML);$(\'#form\').submit();">' + all_recipes[i] + '</li>'
                    }
                    if (s.length>1500){break}
                }
                $('#list_ul').html(s)
                $('#List1').show()
            }

            if (e.keyCode == 40 ){  // down
                if ($(".sel").length==0){
                    $(".Menu2 ul li")[0].className = "sel"
                }
                else{
                    var sel = $(".sel").next()
                    $(".Menu2 ul li").removeClass("sel")
                    sel.addClass("sel")
                }
            }
            if (e.keyCode == 38 ){  // up
                if ($(".sel").length==0){
                    $(".Menu2 ul li")[$(".Menu2 ul li").length-1].className = "sel"
                }
                else{
                    var sel = $(".sel").prev()
                    $(".Menu2 ul li").removeClass("sel")
                    sel.addClass("sel")
                }
            }

            if (e.keyCode == 13){  // Enter
                if ($(".sel").length>0){
                    $("#txt").val($(".sel").html())
                    $("#form").submit()
                }
            }


        })

        $("#form").submit(function(e){
            var v = $("#txt").val()
            if (all_recipes.indexOf(v)==-1){
                return false
            }
        })

    })
</script>


</body>

</html>
